@import "./mixins/mixins.scss";

.tittle {
    @include tittleBlock;
}

#container {
    margin-left: 15%;
    width: 70%;
    font-size: 20px;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.raw{
    margin-bottom: 20px;
}
.markersPurple {
    @include marker(#b59aff);
}
.markersBlue {
    @include marker(#9aa9ff);
}

@media (max-width: 600px) {
    #container {
        margin-left: 0;
        width: 50%;
        font-size: 1.2em;
    }
    .raw {
        margin-bottom: 20px;
        margin-left: 10%;
        width: 100%;
    }
    .tittle {
        margin-top: 0+50px;
        margin-left: 50px;
        margin-bottom: 0+50px;
        text-align: left;
    }
}
