@import "./mixins/mixins.scss";

.tittle {
    @include tittleBlock;
}

#container {
    margin-left: 25%;
    width: 50%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.markersPurple {
    @include marker(#b59aff);
}
.markersBlue {
    @include marker(#9aa9ff);
}
.raw {
    display: grid;
    width: 60%;
    margin-bottom: 20px;
    font-size: 20px;
}
@media (max-width: 600px) {
    #container {
        width: 50%;
        font-size: 1.2em;
    }
    .raw {
        width: 100%;
    }
    .tittle {
        margin-top: 0+50px;
        margin-left: -20%;
        margin-bottom: 0+50px;
        text-align: left;
    }
}
